<div class="payment">
  <h2> Finalize your purchase</h2>
  <input placeholder="Name on Card" type="text" />
  <input placeholder="Credit card number" type="text" />
  <input placeholder="Expiration Year-Month" type="text" />
  <input placeholder="CVV" type="text" />

  <hr />

  <input placeholder="Address" type="text">
  <div class="zip-city">
    <input placeholder="Zip" type="text">
    <input placeholder="City" type="text">
    <input placeholder="Country" type="text">
  </div>
  <input placeholder="Address line 2" type="text">

  <div class="buttons">
    <button routerLink="/shop">Change Order</button>
    <button>Buy</button>
  </div>
</div>
